<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>

<body>
    <header class='container'>
        <div class='hedadmin row' >
            <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3" >
                <button type="button" class="btnverprod"onclick="window.location = '/productos/nuevatienda'">AGREGAR TIENDA</button>
                <button type="button" class="btnverprod"onclick="window.location = '/productos'">VER LISTADO DE PRODUCTOS</button>
            </div>
            <div ></div>
            <img class= 'imgadmin' src="/img/logo_anteojos-08.png " alt="Logo" href="/index" onclick="window.location = '/index'">
        </div>

    </div>
    <form action="/productos/tiendas/search" method="GET" class="container row">

            <input type="search" class="form-control col-11" placeholder="Nombre de la tienda" aria-label="Recipient's username" aria-describedby="button-addon2" name="nombre" aria-label="search">

            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search lupita"></i></button>
            </div>

    </form>
</div>
</div>
</header>

<main class="container">
    <div class='row contenadmin'>
   <div class="col-12 tablalistadmincab">
        <h4>LISTADO DE TIENDAS</h4>
   </div>

   <table class='col-12'>
       <thead>
          <tr >
             <th class='primeracol' scope="col">#</th>
             <th scope="col">Código</th>
             <th scope="col">Nombre</th>
             <th class='ocultar'scope="col">Descripción</th>
          </tr>
       </thead>
       <tbody>
        <% tiendas.forEach((tiend, i) => { %>
           <tr class='adelist'>
              <th class= 'primeracol'  scope="row"><%=i+1%></th>
              <td ><%=tiend.codigo%></td>
              <td ><%=tiend.nombreTienda%></td>
              <td class='ocultar'><%=tiend.descLarga.slice(0,25) + "..." %></td>

             <form class="" action="/productos/tiendas/<%=tiend.codigo%>?_method=DELETE" method="post">
                 <td><button class="btn btn-outline-secondary" type="submit" name="delete" id="button-addon2"><i class="fas fa-trash" title="Borrar"></i></button></td>
                 </td>
             </form>

             <td><a href="/productos/editTienda/<%=tiend.codigo%>"> <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-pen"></i></button></a></td>

         </tr>
        <% }); %>
        </tbody>
    </table>

</main>

<%- include('partials/footer.ejs')%>

<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>