<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>
    <header class="container row">
        <div class="headerformulario col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <img src="/img/HJ-04.png" alt="Logo" class="col-6 logo" onclick="window.location = '/index'">
            <img src="/img/logo_anteojos-08.png " alt="Logo">
        </div>
    </header>
    <main>
        <div class='container row mainformulario'>
            <h1 class="tituloformulario col-12">EDITAR PRODUCTO</h1>
        <form action="/adm/actualizarProducto/<%=producto.codigo%>?_method=PUT" class="formulariocentrado col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" method="POST" enctype="multipart/form-data">

            <br>
            <label for="codigo" class="labelform">Código de Producto: <%=producto.codigo%></label>
            <br>
            <input type="text" name="codigo" id="codigo" required value = "<%=producto.codigo%>">
            <br><br>
            <label for="nombre" class="labelform">Nombre del producto</label>
            <br>
            <input type="text" name="nombreProduct" id="nombre" required value = "<%=producto.nombreProducto%>">
            <br>
            <label for="descCorta" class="labelform">Descripción Corta</label>
            <br>
            <input type="text" name="descCorta" id="descCorta" required value="<%=producto.descCorta%>">
            <br><br>
            <label for="descLarga" class="labelform">Descripción Larga</label>
            <br>
            <p class="letragrisform">Campo optativo</p>
            <textarea name="descLarga" id="descLarga" cols="30" rows="4" placeholder="<%=producto.descLarga%>"></textarea>
            <br>
            <label for="precio" class="labelform">Precio</label>
            <br>
            <input type="number" name="precio" id="precio" required value="<%=producto.precio%>">
            <br><br>

            <label for="tienda" class="labelform">Tienda</label>
            <br>
            <select name="tienda" id="" required>
            <option value="" selected disabled hidden><%=producto.tienda%></option>
            <option value="Cardamomo">CARDAMOMO</option>
            <option value="Mistica Natural">MISTICA NATURAL</option>
            <option value="Natureba">NATUREBA</option>
            <option value="Reparto Alegría">REPARTO ALEGRÍA</option>
            </select>
            <br><br>

            <label for="filtros" class="labelform">Filtros</label><br>
            <div>
                <input type="checkbox" name="org">
                <label for="org" class= "letragrisform">Orgánicos</label>
                <br>
                <input type="checkbox" name="sinTacc">
                <label for="sinTacc" class="letragrisform">Sin Tacc</label>
                <br>
                <input type="checkbox" name="sinLactosa">
                <label for="sinLactosa" class="letragrisform">Sin Lactosa</label>
                <br><br>
            </div>
            <label for="foto" required class="labelform">Añadir foto</label>
            <input type="file" name="fotoProducto">
            <br><br>
            <button class="añadirproducto" type="submit">GUARDAR CAMBIOS</button>
        </form>

    </div>
    </main>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>

</html>