<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>
    <header class="container row">
        <div class="headerformulario col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <img src="/img/HJ-04.png" alt="Logo" class="col-6 logo" onclick="window.location = '/index'">
            <img src="/img/logo_anteojos-08.png " alt="Logo">
        </div>
    </header>

        <main>
            <div class='container row mainformulario'>
                <h1 class="tituloformulario col-12">EDITAR TIENDA</h1>
            <form action="/productos/actualizarTienda/<%=tienda.codigo%>?_method=PUT" class="formulariocentrado col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" method="POST" enctype="multipart/form-data">

            <br>
            <label for="codigo" class="labelform">C칩digo de Producto: <%=tienda.codigo%></label>
            <br><br>
            <input type="text" name="codigo" id="codigo" required placeholder="<%=tienda.codigo%>" hidden>
            <label for="nombre" class="labelform">Nombre de la tienda</label><br>
            <input type="text" name="nombreTienda" id="nombre" required value = "<%=tienda.nombreTienda%>"><br><br>
            <label for="descLarga" class="labelform">Descripci칩n Larga</label>
            <br>
            <p class="letragrisform">Campo optativo</p>
            <textarea name="descLarga" id="descLarga" cols="30" rows="4" placeholder="<%=tienda.descLarga%>"></textarea>
            <br>
            <label for="foto" required class="labelform">A침adir foto</label>
            <input type="file" name="fotoTienda">
            <br><br>

            <button class="a침adirproducto">GUARDAR CAMBIOS</button>
            </form>
        </main>

        <script src="/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>

</html>

        <script src="/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>

          </html>