<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

    <body>

    <%- include('partials/header.ejs')%>

<main class="ppalcon">
    <div class="container ">
        <div class="row" id="compras-seguir">
            <button type="button" onclick="window.location = '/index'" class="btn btn-lg col-10" id="button-compras">SEGUIR COMPRANDO</button>
        </div>
    </div>
    <div class="container detalle_Carrito">
        <div class="row rowcarrito">
            <div class="container ">
                <div class="row">
                    <h3 class="col 10" id="compras-titulo">MI COMPRA</h3>
                </div>
            </div>

            <% if (productos) { %>
                <% for (let i = 0; i<productos.length; i++ ){ %>
            <section class="nombre_producto">
                <div class="col-5" id="producto_reemplazo">
                    <p class="producto1"><%= productos[i].name %></p>
                    <p id="reemplazo"> Reemplazo </p>
                </div>
                <div class="cantidad col-2">
                    <button class="badge badge-white" id="cantidad-numero" > 02 </button>
                </div>
                <div class=" col-5" id="precio-box">
                    <div id="precio">
                        <span id="precio-numero"> <%= productos[i].price %></span>
                        <div class="editable">
                            <button type="submit" class="btn btn-outline-secondary fas fa-pencil-alt" id="lapiz-carrito">
                            </button>
                            <button type="submit" class="btn btn-outline-secondary fas fa-trash-alt " id="eliminar">
                            </button>
                        </div>
                    </div>
                </div>
            </section>
                    <% } %>
                <% } else { %>
                    <h3 class="col 10" id="compras-titulo">Su carrito está vaío</h3>
                <% } %>

            <section id="carrito_total_compra">
                <div class="col-12" id="pago-detalle">
                    <div class="col-6" id="pago-item">
                        <p class="pago-total">SUBTOTAL</p>
                        <p class="pago-total">VIAJE</p>
                        <p class="pago-total">TOTAL</p>
                    </div>
                    <div class=" pago-box col-6" id="precio">
                        <span id="precio-numero"> $ 00.000,00</span>
                        <span id="precio-numero"> $ 00.000,00</span>
                        <span id="precio-numero"> $ 00.000,00</span>
                    </div>
                </div>
            </section>
            <div class="container ">
                <div class="row" id="compras-pagar">
                    <button class="btn btn-lg col-10" id="button-compras">PAGAR</button>
                </div>
            </div>
        </div>
    </div>

</main>
  <%- include('partials/footer.ejs')%>

    <script src="/js/bootstrap.min.js"></script>
</body>


</html>