<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>

    <%- include('partials/header.ejs')%>

<main class="ppalcon container">

    <%- include('partials/filtros.ejs')%>

    <section id="tiendas" class="container row">

        <% for (let i = 0; i<tiendas.length; i++){%>

        <article class="row col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cadatienda1">

            <div class="col-4">
                <img src="/img/<%= tiendas[i].fotoTienda %>" alt="Logo Tienda" class="logostiendas">
            </div>
            <div class="col-8">
                <h2 class="nombretienda"><%= tiendas[i].nombreTienda %> </h2>
                <p><%= tiendas[i].descLarga %></p>
                <button class="botonmain"><a class='aneutra' href="/productos/porTienda/<%=tiendas[i].codigo%>">VER PRODUCTOS</a></button>
            </div>
        </article>

        <%}%>
    </section>
</main>

<%- include('partials/footer.ejs')%>


<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>